@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Italic.woff2') format('woff2'),
  url('../fonts/ProductSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Bold.woff2') format('woff2'),
  url('../fonts/ProductSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-BoldItalic.woff2') format('woff2'),
  url('../fonts/ProductSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Regular.woff2') format('woff2'),
  url('../fonts/ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  font-family : 'Product Sans', sans-serif;
}
.header_top{
position: fixed;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  left: 0;
    top: 0;
    width: 100%;
  background-color: #fff;
}
.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.container_heading{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
}
.navigation_lists{
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.xizmatlar_for{
  position: relative;
  z-index: 5;
}
.xizmatlar_for:hover .xizmatlar_ul{
  display: block;

  animation-name: go-up;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes go-up {
  from {
    opacity: 0;
    transform: translateY(-100%) translateX(-50%) ;
  }

  to {
    opacity: 1;
    transform: translateY(0) translateX(-50%) ;
  }
}


.navigation_list{
  display:inline-block;
  z-index: 5;
}
.xizmatlar_ul{
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: #fff;
  padding: 0;
  list-style-type: none;
  padding: 8px 0px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.xizmatlar_ul li:nth-child(3) a{
  text-transform: uppercase;
}
.dopdown_menus_link{
  white-space: nowrap;
  display: block;
}
.navigation_list_link{
  padding:  16px;
  display: block;
  text-decoration: none;
  color:black;
  cursor: pointer;
  transition: ease all 0.8s;
}
.tel_number{
  white-space: nowrap;
  background: #00BAFC;
  border-radius: 5px;
  color: white;
  margin-left: 16px;
  padding-top:5px;
  padding-bottom:5px;
  padding-left: 13px;
  padding-right: 13px;
  border: 3px solid #00BAFC;
  transition: ease all 0.8s;
}

.navigation_list:hover .navigation_list_link{
  box-shadow: inset 0 -3px 0 0 black ;
}
.navigation_list_link:active{
  background: rgba(25, 25, 25, 0.7);
  color: #FFFFFF;
  box-shadow: none !important;
}
.dopdown_menus_link{
  padding:8px 16px;
  text-decoration: none;
  color:black;
  transition:all ease 0.8s;
}
.dopdown_menus_link:active{
  background: #00BAFC;
  opacity: 0.6;

}
.dopdown_menus_link:hover{
  background: #00BAFC;
  color: #FFFFFF;
}
.tel_number:hover{
  box-shadow:none !important;
  color: #00BAFC;
  border: 3px solid #00BAFC;
  background-color: #fff;
  border-radius: 5px;
}
.tel_number:active{
  border: 3px solid #00BAFC;
  color: rgba(85, 19, 19, 0.6);
  background: #00bafc99;
}

.you__tube__apple__video{
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.you__tube__video__heading__text{
  display: inline-block;
  margin: 0 0 16px 0;
  width: 434px;
  font-weight: bold;
font-size: 30px;
line-height: 130%;
color: #000000;
}
.you__tube__apple__subtext{
  margin: 0 0 16px 0;
  width: 465px;
  font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.link__for__services{
  display: inline-block;
  background-color : #00BAFC;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
  transition: ease 0.5s background-color;
}

.link__for__services:hover{
  background-color : rgba(0, 186, 252, 0.8);
}
.link__for__services:active{
  background-color : rgba(0, 186, 252, 0.6);
}

.you__tube__apple__video iframe{
  width: 458px;
  height: 258px;

}

.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 0;

}
.services__header__name{
  font-weight: bold;
  margin-top:0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
.services__header__text{
  width: 720px;
  font-size: 16px;
line-height: 24px;
text-align: center;
color: #000000;
  margin-top: 0;
  margin-bottom: 16px;
}
.our__services__lists{
  list-style-type: none;
  display: flex;
  flex-wrap:wrap;
  margin-left: -35px;
  margin-right: -35px;
  /* height:576px; */
  justify-content: center;
  margin: 0;
  padding: 0;
  /* align-items:space-between; */

}
.our__services__list{
  margin-right: 35px;
  margin-left: 35px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
}
/* .our__services__list:nth-child(3n),
.our__services__list:nth-child(5){
  margin-right: 0;
} */
.our__services_link{
  width: 320px;
  display: block;
  background: #FFFFFF;
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
border-radius: 5px;
text-decoration: none;
padding:24px 60px;
flex-grow: 1;
}
.our__services_link:hover{
  background: #FFFFFF;
box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}
.our__services_link:active{
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
border-radius: 5px;
}
.our__service__name{
  font-size: 20px;
line-height: 130%;text-decoration: none;
margin-top: 0;
margin-bottom: 16px;

text-align: center;
color: #000000;
}


.web__site::before{
  background-image:url('../images/web_sayt_tuzish.svg');
  content:'';
  margin-bottom: 16px;
  background-repeat: no-repeat;
  display: block;
  width: 200px;
  height: 130px;
}
.telegram__bot::before{
  background-image:url('../images/bot_yasash.svg');
  content:'';
  margin-bottom: 16px;
  background-repeat: no-repeat;
  display: block;
  width: 200px;
  height: 130px;
}
.smm::before{
  background-image:url('../images/smm_marketing.svg');
  content:'';
  margin-bottom: 16px;
  background-repeat: no-repeat;
  display: block;
  width: 200px;
  height: 130px;
}
.graphics_design::before{
  background-image:url('../images/design_grafika.svg');
  content:'';
  margin-bottom: 16px;
  background-repeat: no-repeat;
  display: block;
  width: 200px;
  height: 130px;
}
.crm::before{
  background-image:url('../images/crm-illustration.svg');
  content:'';
  margin-bottom: 16px;
  background-repeat: no-repeat;
display: block;
  width: 169.22px;
  height: 130px;

}
.our__service__text{
  font-size: 16px;
line-height: 24px;
margin:0;
text-align: center;

color: #000000;
}
.buyurtma_berish{
  text-decoration: none;
  font-weight: bold;
font-size: 16px;
line-height: 24px;
padding: 8px 16px;
margin-right:16px;
background: #00BAFC;
border-radius: 5px;
color: #FFFFFF;
display:inline-block;
transition:background-color ease 0.5s;
}
.buyurtma_berish:hover{
  background: rgba(0, 186, 252, 0.8);
}
.buyurtma_berish:active{
  background: rgba(0, 186, 252, 0.6);
}
.our__services__part{
  font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
text-decoration-line: underline;
color: #00BAFC;
}